*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

nav{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

section main .list{

    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    
}
.para{
    margin-right: 20px;
}
button{
    position: fixed ;
    right: 40rem;
}
